html, body {
    min-height: 100%;
}

body{
    background-image: linear-gradient(rgb(64, 240, 253), rgb(255, 255, 255));
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    font-family: "Lucida Console", "Courier New", monospace;}


hr {
    color:black;
    background-color: black;
}

.blog {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: left;
    height: 100vh;
    padding: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
    /* Adjust font size for small screens */
    body {
        font-size: 14px;
    }
    
    /* Adjust padding for small screens */
    .blog {
        padding: 10px;
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: left;
    height: 100vh;
}
.centered-element{
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}


a{
    color: rgb(0, 0, 0);
    text-decoration: none;
a:hover{
    color: rgb(92, 60, 0);
}

input{
    color: rgb(177, 95, 0);
    border-radius: 9px;
    border-color: rgb(31, 0, 34);
    border-style:solid;
    background-color: rgb(20, 0, 28);
    box-shadow: 30%;
}
input:hover{
    color: rgb(255, 166, 0);
    border-radius: 6px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(29, 29, 29);
}
button{
    color: rgb(177, 95, 0);
    border-radius: 9px;
    border-color: rgb(31, 0, 34);
    border-style:solid;
    background-color: rgb(20, 0, 28);
    box-shadow: 30%;
}
button:hover{
    color: rgb(255, 166, 0);
    border-radius: 6px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(29, 29, 29);
}



h1 {
    color: rgb(0, 0, 0);
}
h6 {
    color: rgb(21, 0, 75);
}
h5{
    color: rgb(67, 0, 59);
}

footer{
    text-align: center;
    color: white;
    font-size: x-small;
}
header{
    text-align: center;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}